html,
body {
  padding: 0;
  margin: 0;
  height: 200vh;
  background: #000;
}

.headline {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 10vw;
}

.inset {
  position: absolute;
  inset: 0;
}
.white {
  color: white;
}
.gray {
  color: #fa9143;
}

.full {
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient {
  background: linear-gradient(rgba(14, 62, 151, 0.5) 50%, black);
}

.headline-cont {
  background: rgb(1, 1, 2);
  background: linear-gradient(
    180deg,
    rgba(1, 1, 2, 1) 19%,
    rgba(15, 17, 20, 1) 40%,
    rgba(33, 37, 42, 1) 76%
  );
  height: 70vh;
}

/* TEST */
.in {
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.out {
  animation: slide-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes slide-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(1000px);
    opacity: 0;
  }
}

.flicker {
  animation: flicker-1 0.7s linear infinite both;
}

@keyframes flicker-1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
