@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
  font-family: "Syne", sans-serif;
}

.pointer {
  cursor: pointer;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  background-image: url("../src/assets/img/toggler.svg") !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-toggler {
  border: 0;
}

.expand {
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.progress-bar {
  position: fixed;
  left: 0;
  right: 0;
  height: 4px;
  background: #fa9143;
  transform-origin: 0%;
  z-index: 2;
}

/* HERO */

.hero-btn {
  background-color: #fa9143;
  border: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: background-color 0.3s;
}

.hero-btn:hover {
  background-color: rgba(250, 145, 67, 0.8);
}

.hero-btn:active {
  background-color: #b36830 !important;
}

/* ABOUT PREVIEW */

.button-false-1 {
  position: absolute;
  padding: 10px 60px;
  background-color: transparent;
  border-color: #fa9143;
  border: 2px solid #fa9143;
  transform: rotate(90deg);
  right: 79.5%;
  bottom: 60%;
}

.button-false-2 {
  position: absolute;
  padding: 10px 40px;
  background-color: transparent;
  border-color: #fa9143;
  border: 2px solid #fa9143;
  top: -5%;
  right: 2%;
}

/* MY PROJECTS HIGHLIGHT */

.btn-prj {
  background-color: transparent;
  border-color: #fa9143;
}

.btn-prj:hover {
  background-color: rgba(250, 145, 67, 0.8) !important;
  border-color: #fa9143;
}

.btn-prj:active {
  background-color: #b36830 !important;
  border-color: #fa9143 !important;
}

section h2,
p {
  text-shadow: 3px 6px 30px rgba(66, 68, 90, 1);
}

section p {
  width: 300px;
}

/* SKILLS */

.logos-cont {
  width: 75%;
  display: flex;
  margin-bottom: 2em;
  align-self: center;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 480px) {
  .logos-cont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    padding: 1em;
    justify-content: center;
  }
}

/*  quote */

.quote-img {
  position: absolute;
  width: 7%;
  right: 15%;
  top: -10%;
}

.go-up {
  position: fixed;
  bottom: 10%;
  right: 10%;
}

@media screen and (max-width: 480px) {
  .quote-img {
    position: absolute;
    width: 20%;
    right: 2%;
    top: -10%;
  }

  .go-up {
    position: fixed;
    bottom: 10%;
    right: 1%;
  }
}

.btn-dial button {
  background-color: #fa9143;
}

.btn-dial button:hover {
  background-color: #e27d32;
}

.btn-dial button:active {
  background-color: #fa9143;
}

/* MODAL */

.cv-modal .modal-title {
  margin-left: auto;
  margin-right: auto;
}

.cv-modal canvas {
  width: 600px !important;
  height: 712px !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
}

.react-pdf__Page {
  border-radius: 20px;
}

.cv-modal .modal-body {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
}

.cv-modal .modal-header {
  border-bottom: 2px solid #fa9143;
}

.cv-modal .modal-footer {
  border-top: 2px solid #fa9143;
}

.cv-modal .btn-close {
  color: #fa9143 !important;
}

.react-pdf__Page__textContent {
  display: none;
}

.react-pdf__Page__textContent:nth-child() {
  display: none;
}

.react-pdf__Page__annotations {
  display: none;
}

.cv-modal button:first-of-type:not(.btn-close) {
  background-color: #fa9143;
  border: 0;
}
.cv-modal button:not(.btn-close) {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.cv-modal button:hover:first-of-type:not(.btn-close) {
  background-color: rgba(250, 145, 67, 0.8);
}

.cv-modal button:active:first-of-type:not(.btn-close) {
  background-color: #b36830 !important;
}

.cv-modal .modal-content {
  background-color: #21252a;
}

@media screen and (max-width: 480px) {
  .cv-modal canvas {
    width: 390px !important;
    height: 480px !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 20px;
  }
}
